/*CSS setting big general style, also some reset css.*/

* {
    margin: 0;
    padding: 0;
    font-family:Impact;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
p {
    font-family:Arial
}

body {
  
  
}

main {
    display: flex;
    justify-content: space-between;
    height: 62%;
}

aside {
    /*margin-left: 26%;
    width: 800px;*/
    /*margin: auto auto;*/
    display: flex;
    justify-content: space-between;
    /*height: 20%;
    min-height:20%;
    width:100%;*/
}

header {
    background-color: grey;
    height: 10%;
}




/*CSS for Canvas and Game*/

canvas {
    position: absolute;
}

#canvas {
    z-index: 2;
}

#grenade {
    z-index: 3;
}

#player {
    z-index: 3;
}

#staticCanvas {
    z-index: 1;
}

#backgroundCanvas {
    z-index: 0;
}

.weapon {
    z-index: 4;
}

#gameDiv {
    display: none;
    margin-left: 16%;
    margin-top: 1%;
    height: 50%;
}

/*CSS for mainpage, menu, leftdiv and rightdiv on page.*/
h1 {
    text-align: center;
    font-size: 5.2em;
}

#menu {
    height: 100%;
    width: 31%;
    /*border: 1px solid;*/
    text-align: center;
}

    #menu img:hover {
        -webkit-transform: scale(1.35);
        -moz-transform: scale(1.35);
        -ms-transform: scale(1.35);
        transform: scale(1.35);
        display: inline-block;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        cursor: pointer;
    }

#rightDiv {
    height: 100%;
    /*border: 1px solid;*/
    width: 31%;
    background-image: url("../Image/blackRabbit.png");
    background-repeat: no-repeat;
    background-position: left,0;
    background-size: 90.2%;
}

#leftDiv {
    height: 100%;
    /*border: 1px solid;*/
    width: 31%;
    background-image: url("../Image/brownRabbit.png");
    background-repeat: no-repeat;
    background-position: right,0;
    background-size: 90.2%;
}

#controlsDiv {
    display: none;
    margin: auto auto;
    margin-left: 16%;
    height: 31%;
    position: absolute;
    bottom: 0%;
}

#rulesDiv {
    margin-top: 1%;
    float: left;
    display: none;
    width: 15%;
    background-image: url("../Image/brownRabbit.png");
    background-repeat: no-repeat;
    background-position: bottom,0;
    background-size: 90.2%;
    height: 90%;
}

    #rulesDiv .drop-menu, #rulesDiv .span {
        width: 92%;
        margin: 0 auto;
    }
        #rulesDiv a {
        float:right;
    }
                #rulesDiv h3  {
       margin-top:5%;
    }

/* Some Credit to http://www.webstuffshare.com/2010/06/simple-css3-dropdown-menu/, i got some inspiration from them. */

.pusher {
    height: 16%;
}

.drop-menu {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding: 4% 4%;
    font-size: 1.62em;
    height: 16%;
    max-height: 25px;
    width: 62%;
    background: #fff;
    cursor: pointer;
    border: 1px solid #f6f0e4;
}

    .drop-menu select {
        float: right;
        cursor: pointer;
    }

.plus {
    display: inline-block;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.drop-menu:hover .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
