body {
   width:100%;
}
canvas {
    position:absolute;
}
#canvas {  
    z-index:2;
}
#staticCanvas {
    z-index:1;
}
#backgroundCanvas {
    z-index:0;
}
.weapon {
    z-index:3;
}
#main {
    margin-left:20%;
    margin-right:auto;
}
h1 {
    text-align:left;
}
